#heading_box{
    width: 100%;
    height: 150px;
    background-color: darkmagenta;
    line-height: 150px;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}
#inp{
    min-width: 60%;
    max-width: auto;
    height: 50px;
    font-size: 20px;
    margin-top: 20px;
}
#trigger_1_box{
    height: 250px;
    width: 60%  ;
    margin-top: 50px;
}
#trigger_2_box{
    height: 250px;
    width: 60%  ;
    margin-top: 50px;   
}
#trigger_3_box{
    height: 250px;
    width: 80%  ;
    margin-top: 50px;   
}
#labels{
    width: 50%;
    height: 250px;
    background-color: blue;
    float: left;
}
#inps{
    width: 50%;
    height: 250px;
    background-color: green;
    float: left;       
}
#trigger_input{
    margin: 15px;
    width: 500px;
    height: 40px;
    font-size: 20px;
}
#text{
    margin: 15px;
    font-size: 25px;
    font-weight: bold;   
}
#btn{
    min-width: 30%;
    height: 40px;
    margin: 10px;
    font-size: 20px;
}
#btn:hover{
    color: white;
    background-color: red;
    opacity: 0.7;
    cursor: pointer;
}
#btn1{
    min-width: 30%;
    height: 40px;
    margin: 10px;
    font-size: 20px;
}
#btn1:hover{
    color: white;
    background-color: red;
    opacity: 0.7;
    cursor: pointer;
}
#btn2{
    min-width: 30%;
    height: 40px;
    margin: 10px;
    font-size: 20px;
}
#btn2:hover{
    color: white;
    background-color: red;
    opacity: 0.7;
    cursor: pointer;
}
#btn3{
    min-width: 30%;
    height: 40px;
    margin: 10px;
    font-size: 20px;
}
#btn3:hover{
    color: white;
    background-color: red;
    opacity: 0.7;
    cursor: pointer;
}
#msg{
    color: green;
    opacity: 0.7;
    background-color: white;
}